{% extends 'base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
    <div class="text-center">
        <img class="mb-4" src="http://kumgk.ru/images/logo2.png" alt="" width="128" height="168">
        <h1 class="h3 mb-3 font-weight-normal">Восстановление пароля</h1>
        <p>Новый пароль был выслан на вашу почту</p>
        <br><a href="{% url 'authorization' %}">Авторизация</a>
        <p class="mt-5 mb-3 text-muted">Марченко Андрей &copy; 2020-{% now "Y" %}</p>
    </div>
{% endblock %}